.back{
    cursor: pointer;
    margin: 8px;
    border-radius: 8px;
    border: solid 1px;
    padding: 4px;
    width: 47px;
    background-color: teal;
    color: white;
    margin-left: 36px;
}

.back:hover{ 
    cursor: pointer;
    margin: 8px;
    border-radius: 8px;
    border: solid 1px;
    padding: 4px;
    width: 47px;
    background-color:white;
    color: teal;
    margin-left: 36px;
}
.review-button{
    display: flex;
    margin-left: 24px;
}

.review-container{
    border: 2px solid teal;
    border-radius: 8px;
    margin: auto;
    display:flex;
    padding: 24px;
    width: 70%;
    height: 400px;
}
.container-summary{
    width: 100%;    
}
.calificar{
    cursor: pointer;
    margin: 12px;
    border-radius: 8px;
    border: solid 1px;
    padding: 6px;
    width: flex;
    background-color: teal;
    color: white;
    text-align: center;
}
.calificar:hover{ 
    cursor: pointer;
    margin: 12px;
    border-radius: 8px;
    border: solid 1px;
    padding: 6px;
    width: flex;
    background-color:white;
    color: teal;
    text-align: center;
}

.comments{
    width: 100%;
    height: 80%;
    margin: auto;
}