.back{
    cursor: pointer;
    margin: 8px;
    border-radius: 8px;
    border: solid 1px;
    padding: 4px;
    width: 47px;
    background-color: teal;
    color: white;
    margin-left: 36px;
}
.review-button{
    display: flex;
    margin-left: 24px;
}
.review{
    cursor: pointer;
    margin: 12px;
    border-radius: 8px;
    border: solid 1px;
    padding: 4px;
    width: 100px;
    background-color: teal;
    color: white;
    text-align: center;
}
.review-container{
    border: 3px solid teal;
    margin: auto;
    display:flex;
    padding: 24px;
    width: 70%;
    height: 400px;
}
.container-summary{
    width: 100%;    
}
.title-container-summary{
    font-size: 25px;
}
.total{
    font-size: 35px;
}
.back:hover{ 
    cursor: pointer;
    margin: 8px;
    border-radius: 8px;
    border: solid 1px;
    padding: 4px;
    width: 47px;
    background-color:white;
    color: teal;
    margin-left: 36px;
}
.review:hover{ 
    cursor: pointer;
    margin: 12px;
    border-radius: 8px;
    border: solid 1px;
    padding: 4px;
    width: 100px;
    background-color:white;
    color: teal;
    text-align: center;
}
.divider-summary{
    margin-bottom: 16px;
    border-top: solid 1px;
    width: 100%;
    margin-top: 16px;
}

.coments{
    width: 100%;
    height: 80%;
    margin: auto;
}