.con-cot-faq{
    margin-top: 2%;
}
.faq-container{
    
    display:block;
    text-align: center;
    

}
.faq-question{
    cursor: pointer;
    font-size: 18px;
    color:white;
    text-align: center;
    background-color: teal;
    display: inline-block;
    vertical-align: middle;
    border-radius: 25px;
    width: 30%;
    margin-top: 1%;

}
.titulo-faq{
    display: block;
    text-align: center;
    color: teal;
}
.faq-answer{
    color: white;
}
.faq-answer:hover{
    color:teal;
}