
  .product-card-container {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    
  }
  
  .product-card-container-small {
    position:relative;
    display: grid;
    //border: solid 1px #d3d3d3;
    border-radius: 5px;
    margin-bottom: 8px;
    padding: 1rem;
    height: 323px;
    background-color: #fff;
    box-shadow: 0 0 0.125rem #c3c3c3;
    transition-duration: 250ms;
    overflow: hidden;


    &:hover{
      box-shadow: 0 0 0.5rem #c3c3c3;
    }
}

  .product-card-photo{
    height: 400px;
    width: 400px; 
  }

  .snackbar-success{
    background-color: teal;
    color: white;
    border-radius: 8px;
    text-align: center;
    padding: 4px;
  }

  .cart-icon {
    height: 20px;
    width: 20px;
    color: gray;
    cursor: pointer;
    display: flex;
    margin-left: auto;
  }
  
  .product-card-photo-small{
    $size: calc(((100vw - 50px - 4rem) / 6) - 2rem);
    $max-size: calc(((90rem - 50px - 4rem) / 6) - 2rem);
    width: $size;
    max-width: $max-size;
    height: $size;
    max-height: $max-size;
    object-fit: contain;
    margin:auto;
  }

  .product-card-add-cart-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    border:none;
    background-color: teal;
    padding: 1rem 0.5rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
  }

  .title {
    font-size: 25px;
    color: gray;
    text-align: center;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .description {
      text-align: center;
  }

  .divider {
    margin-top: 24px;
    border-top: 1px solid gray;
    margin-bottom: 24px;    
    width: 100%  
  }

  .product-card-content{
      display: block;
  }
  .cantidad{
     text-align: center;
  }

  .price {
    text-align: center;
    margin-bottom: 5px;
  }

  .product-card-button{
      padding: 8px;
      border: solid 1px black;
      cursor: pointer;
      text-align: center;
      align-items: center;
      background-color: gray;
      width: 60px;
      margin-left: 8px;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
  }
  

  .stars-small{
    text-align: center;
  }

  .link {
    text-align: center;
    margin-top: 16px;
  }
.stock{
  text-align: end;
  font-size: x-small;
}
.review{
  font-size: x-large;
  font-family: ui-monospace;
  margin-bottom: 16px;
}

  
  .stars:last-child {
    margin-right: 25px;
  }
  .tituloForm{
  border-radius: 24px;
  opacity: 1;
  color:black;
  text-align: center;
  margin:20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  }
  .input1{
  top: 400px;
  left: 50px;
  width: 250px;
  height: 19px;
  text-align: left;
  font: normal normal 600 14px/19px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  }
.input2{
  top: 400px;
  left: 50px;
  width: 250px;
  height: 19px;
  text-align: left;
  font: normal normal 600 14px/19px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  }
.input3{
  top: 400px;
  left: 50px;
  width: 250px;
  height: 19px;
  text-align: left;
  font: normal normal 600 14px/19px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  }
.input4{
  top: 400px;
  left: 50px;
  width: 250px;
  height: 19px;
  text-align: left;
  font: normal normal 600 14px/19px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  }
.input5{
  top: 400px;
  left: 50px;
  width: 250px;
  height: 19px;
  text-align: left;
  font: normal normal 600 14px/19px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  }
.input6{
  top: 400px;
  left: 50px;
  width: 250px;
  height: 19px;
  text-align: left;
  font: normal normal 600 14px/19px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
    }
.input7{
  top: 400px;
  left: 50px;
  width: 250px;
  height: 19px;
  text-align: left;
  font: normal normal 600 14px/19px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  }
  
  .scroll::-webkit-scrollbar{
    width: 7px;
    background: black;

  }