.grid-container {
    background-color:#0d7377;
    display: grid;
    grid-template-columns: 0.25fr 1fr 1fr 0.2fr;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    padding: 0 0.5rem;
}

.grid1 {
    grid-column: 1;
    margin: auto;

    img{
        width: 3.25rem;
        height: 3.25rem;
    }
    
}

.grid2 {
    grid-column: 2;
    font-size: 2.5em;
    align-self: center;
}

.grid3 {
    grid-column: 3;
    display: flex;
    flex-direction: row;
    justify-self: end;
    align-self: center;
}

.grid4 {
    grid-column: 5;
    font-size: 1.8em;
    margin:auto
}

.list {
    display:flex;
    color: white;
    list-style: none;
    font-size: 0.5em;
    padding-inline-start: 0;
    margin: 0;
}

.listee {
    padding: 0.125rem 0.5rem;
    margin: auto;
    border-radius: 8px;
    font-size: 16px;
    height: 28px;
    display: flex;
    align-items: center;

    &:hover {
        background-color: #329999;
    }

    a {
        display: flex;
        align-items: center;
        margin-bottom: 0.125rem;
    }

    
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none
  }

.profile{
    padding: 10px;
    margin: auto;
    min-width: 120px;
    text-align: center;
    a{
        display: flex;
        align-items: center;
    }

   

    &:hover{
        .menu{
            display: block;
        }
    }



    .menu{
        padding-left: 0;
        position: absolute;
        list-style: none;   
        display: none;
    }
    

  }
.ulProfile{
    list-style: none;

}
.profile li a{
    background-color: #0d7377;
    color:#ffff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    min-width:90px;
}

.profile li a:hover {
    background-color:  #329999;
    display: block;
   

}
.profile li ul{
    display: none;
    position: absolute;
    min-width: 90px;;
   
    
}
.profile li:hover > ul{
    display: block;
}
  
// .menu{
//     ul{
//         border-radius: 12px;
//     }
// }