.grid-container {
    background-color:#0d7377;
    display: grid;
    grid-template-columns: 0.25fr 1fr 1fr 0.2fr;
    width: 100%;
    height: 50%;
}

.grid1 {
    grid-column: 1;
    margin: auto
}

.grid2 {
    grid-column: 2;
    font-size: 2.5em;
    align-self: center;
}

.grid3 {
    grid-column: 3;
    display: flex;
    flex-direction: row;
    justify-self: end;
    align-self: center;
}

.grid4 {
    grid-column: 5;
    font-size: 1.8em;
    margin:auto
}

.list {
    display:flex;
    color: white;
    list-style: none;
    font-size: 0.5em;
    padding-inline-start: 0;
}

.listee {
    
    padding: 8px 16px;
    margin: auto;
    border-radius: 8px;
    font-size: 16px;
    height: 28px;
    display: flex;
    align-items: center;

    &:hover {
        background-color: #329999;
    }

    a {
        display: flex;
        align-items: center;
    }

    
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none
}

.profile{
    margin: auto;
    min-width: 120px;
    text-align: center;
    position: relative;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;

    a{
        display: flex;
        align-items: center;
    }
 
    &:hover{
        background-color: #329999;
        .menu{
            display: block;
            background-color: #329999;
        }
    }

    .menu{
        padding-left: 0;
        position: absolute;
        list-style: none;   
        display: none;
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        overflow: hidden;
        width:100%;

        li {
          &:hover {
              background-color: #4ca6a6;
          }  
        }
    }
  }
.ulProfile{
    list-style: none;

}
.profile li a{
    color:#ffff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    min-width:90px;
}

.profile li a:hover {
    display: block;
   

}
.profile li ul{
    display: none;
    position: absolute;
    min-width: 90px;;
   
    
}
.profile li:hover > ul{
    display: block;
}
  
// .menu{
//     ul{
//         border-radius: 12px;
//     }
// }