.container {
    background-color:#0d7377;
    border-bottom: solid 1px #ccc;
    color: white;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    align-items: left;
}

#wrapper{
    background:white;
    overflow:auto;
}

.Imagen{
    height: 50px;
    float: left;
}
.portada{
    float: right;
    display: block;
    text-align: center;
    padding-right: 0px;
    display: flex;
    font-size: 50px;
    line-height:3;
    color: #0d7377;
    background-color: #ffffff;
    font-family: 'Merriweather Sans', sans-serif;
    width: 100vw;
}