.row {
    width: 300px;
    padding: 0.5rem 0;
}
.error {
    padding: 0.5rem;
    background-color: rgba(255, 0, 0, 0.5);
    border: 1px solid red;
    border-radius: 6px;
    margin: 0.5rem 0 0 0;
}
.submit {
    padding: 6px;
    border-radius: 8px;
    background-color: teal;
    width: 134px;
    margin-top: 4px;
    margin-bottom: 8px;
    margin-left: 4px;
    text-align: center;
    color: white;
    cursor: pointer;
}

    .disabled {
        background-color: #e6e6e6;
        color: #292929;
        box-shadow: inherit;
    }

.yatengocuenta {
    cursor: pointer;
}
    
    


