
  .product-container {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    border: 1px solid lightgrey; 
    margin-left: 100px;
    margin-right: 100px;
    border: 3px solid teal;
  }
  
  .product-container-small {
    display: flex;
    justify-content: center;
    border: 1px solid lightgrey; 
    width: 30%
  }



  .snackbar-success-large{
    margin-top: 24px;
    background-color: teal;
    color: white;
    border-radius: 8px;
    text-align: center;
    padding: 4px;
  }

  .photo{
    height: 400px;
    width: 400px; 
    margin: 50px;
    object-fit: cover;
  }

  .product-detail-content{
    display: block;
    width: 40%; 
  margin-top: 100px;
}

  
.cart-icon-large {
  margin-top: 24px;
  height: 28px;
  width: 28px;
  color: gray;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  height: 29px;
}

  @media (max-width: 480px) {
    .product-container {
      margin: 8px;
      display: grid;
    }
    .photo{
      height: 200px;
      margin-top: 16px;
      width: auto;
    }
    .product-detail-content{
      margin-top: 0px;
      display: contents;
    }
    .cart-icon-large{
      margin-top: 246px;
      margin-left: 0px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  
  .photo-small{
    height: 200px;
    width: 200px; 
  }

  .title {
    font-size: 28px;
    color: gray;
    margin-bottom: 12px;
    text-align: center;
  }

  .description {
      text-align: center;
  }

  .divider {
    margin-top: 24px;
    border-top: 1px solid gray;
    margin-bottom: 24px;    
    width: 100%  
  }

  .cantidad{
     text-align: center;
  }

  .product-detail-button{
      padding: 8px;
      border: solid 1px black;
      cursor: pointer;
      text-align: center;
      margin-top: 24px;
      width: 20%;
      margin-bottom: 16px;
      align-items: center;
      background-color: gray;
  }
  
  

  .stars-small{
    text-align: center;
  }

  .link {
    text-align: center;
    margin-top: 16px;
    text-decoration: none;
  }
.stock{
  text-align: end;
  font-size: x-small;
}
.review{
  font-size: x-large;
  font-family: ui-monospace;
  margin-bottom: 16px;
}
  
  .stars:last-child {
    margin-right: 25px;
  }
  