.shoppingCart-container{
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 76px;
    position:relative;
    display: grid;
    //border: solid 1px #d3d3d3;
    border-radius: 5px;
    margin-bottom: 30px;
    padding:3rem;
    background-color: #fff;
    box-shadow: 0 0 0.125rem #c3c3c3;
    transition-duration: 250ms;
    overflow: hidden;

    &:hover{
        box-shadow: 0 0 0.5rem #c3c3c3;
      }

.back{
    cursor: pointer;
    margin: 8px;
    border-radius: 8px;
    border: solid 1px;
    padding: 4px;
    width: 150px;
    height: 25px;
    background-color: teal;
    color: white;
    margin-left: 36px;
}
.back:hover{ 
    cursor: pointer;
    margin: 8px;
    border-radius: 8px;
    border: solid 1px;
    padding: 4px;
    width: 47px;
    background-color:white;
    color: teal;
    margin-left: 36px;
}
.bottom-cart{
    display: flex;
    margin-left: 24px;
}
.cart-next{
    cursor: pointer;
    margin: 12px;
    border-radius: 8px;
    border: solid 1px;
    padding: 4px;
    width: 80px;
    background-color: teal;
    color: white;
    text-align: center;

}
.cart-back{
    cursor: pointer;
    margin: 12px;
    border-radius: 8px;
    border: solid 1px;
    padding: 4px;
    width: 80px;
    background-color:white;
    color: teal;
    text-align: center;

}

.container-cart{
    width: 75%;
    
}

.input-cart{
    height: 36px;
    width: 40px;
    text-align: center;
    /* border: 1px solid var(--color-main-020); */
    border: 1px solid lightgray;

}

.summary-cart {
    /* text-transform: uppercase; */
    margin-bottom: 12px;
    font-size: 20px;
    display: flex;
}

.summary{
    width: 292px;
}

.bottons-container-cart{
    display: block;
}

.input-cart-container {
    width: 80px;
    margin-left: auto;
    margin-top: 39px;
}

.divider-cart{
    margin-bottom: 16px;
    border-top: solid 1px;
    width: 132%;
    margin-top: 16px;
    border: 1px solid lightgray;
    
}

.title-cart{
    /* text-transform: uppercase; */
    font-size: 25px;
    margin-bottom: 8px;
}

.description-cat{
    margin-bottom: 8px;
}

.photo-cart{
    width: 25%;
    margin-top: 16px;
    object-fit: contain;
}

.product-container-shopping-cart {
    display: flex;
    width: 86%;
}

.product-content-shopping-cart{
    margin-top: 12px;
    margin-left: 24px;
    display: grid;
}

.divider-summary{
    margin-bottom: 16px;
    border-top: solid 1px;
    width: 100%;
    margin-top: 16px;
    border: 1px solid lightgray;
}

.summary-totals {
    margin-left: auto;
}

.summary-title{
    font-size: 32px;
    margin-bottom: -12px;
    margin-top: 20px;
}
.title-container-cart{
    font-size: 32px;
    margin-bottom: -12px;
}
.product-price{
    margin-top: -20px;
}
  @media (max-width: 480px) {
    .summary-title {
        font-size: 22px;
    }
    .shoppingCart-container {
        margin: 12px;
    }
    .title-container-cart {
        font-size: 22px;
        font-family: 'Quicksand', sans-serif;
    }
    .summary-cart{
        font-size: 18px;
    }
    .summary{
        width: 200px;
    }
    .divider-cart{
        margin-bottom: 8px;
        margin-top: 8px;
        
    }
    .photo-cart{
        border-radius: 5px;
        height: auto;
        width: auto;
        max-width: 165px;
    }
    .product-container-shopping-cart{
        display: flex;
        margin-bottom: 16px;
    }
    .input-cart-container{
        margin-top: 16px;
        width: auto;
        display: flex;
        align-items: flex-end;
    }
    .cart-icon{
        margin-left: 24px;
    }
  }
}