.crud-form{
    display:flex;
    justify-content: center;
}
.title-crud{
    display:flex;
    justify-content: center;
}

.volver{
    cursor: pointer;
    margin: 8px;
    border-radius: 8px;
    border: solid 1px;
    padding: 4px;
    width: 47px;
    background-color: teal;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.432);
}

.button-crud {
    cursor: pointer;
    margin: 8px;
    border-radius: 8px;
    border: solid 1px;
    padding: 4px;
    background-color: teal;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.432);
}