// Ease

$easeInOutBack: cubic-bezier(0.680, -0.550, 0.265, 1.550);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950);

* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}

ul {
  li {
    list-style-type: none;
  }
}

.slider--teams {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  .slider--teams__team {
    position: relative;
    overflow: hidden;
  }
}

.founders-container{
  border: solid 3px teal;
  border-radius: 12px;
  margin-left: 64px;
  margin-right: 64px;
  margin-bottom: 24px;
  text-align: center;
  padding-top: 12px;
}

.founders-title{
  font-family: none;
  font-size: 24px;
  color: teal;
  margin-left: 8px;
  margin-top: 8px;
  font-weight: 450;
}

#list {
  position: relative;
  backface-visibility: hidden;
  transform: translate3d(0,0,0);
  li {
    position: relative;
    display: inline-block;
    float: left;
    text-align: center;
    figure {
      cursor: pointer;
      // margin: 1em;
      opacity: 0.8;
      backface-visibility: hidden;
      transition: transform 450ms $easeInOutSine, opacity 450ms ease-in-out;
      transform: scale(0.5) translateZ(0px);
      &:hover {
        opacity: 1;
        transform: scale(0.6) translateZ(0px);
      }
      &:active {
        opacity: 1;
        transform: scale(0.7) translateZ(0px);
      }
      > div {
        border-radius: 5px;
        position: relative;
        margin: 2rem auto;
        width: 160px;
        height: 160px;
        overflow: hidden;
        transform: rotate(45deg) translateZ(0px);
        > div {
          background: url('./team.jpg') no-repeat;
          background-size: cover;
          background-position: 0px 0px; 
          position: absolute;
          top: 50%;
          left: 50%;
          width: 170px;
          height: 170px;
          transform: rotate(-45deg) translate(0%, -70%);
        }
      }
      figcaption {
        h2 {
          color: #333;
          font-size: 22px;
          font-weight: 800;
        }
        p {
          color: #666;
          font-size: 17px;
          font-weight: 400;
        }
      }
    }
    &:nth-child(1) figure > div > div {
    background-position: 0px 0px !important;
  }
    &:nth-child(2) figure > div > div {
    background-position: 0px 20% !important;
  }
    &:nth-child(3) figure > div > div {
    background-position: 0px 40% !important;
  }
    &:nth-child(4) figure > div > div {
    background-position: 0px 60% !important;
  }
    &:nth-child(5) figure > div > div {
    background-position: 0px 80% !important;
  }
    &:nth-child(6) figure > div > div {
    background-position: 0px 100% !important;
  }

  }
}

.active {
  opacity: 1 !important;
  transform: scale(1) translateZ(0px) !important;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

@media (max-width: 480px){
  .founders-container{
    border: none;
    padding-left: 24px;
  }
  .slider--teams{
    height: auto;
  }
  li{
    height: 160px;
    float: none;
  }
  #list {
    margin-top: -70px;
    .li{
      float: none;
    }
  }
  .slider--teams {
    .slider--teams__team{
      overflow: visible;
      margin-bottom: 24px;
    }
  }
}