.container {
  display: flex;
  align-items: center;
  background-color: #329999;
  border-radius: 8px;
  border: none;
  overflow: hidden;

  input {
    background-color: transparent;
    border: none;
    color: #fff;
    margin: 0.25rem 0.5rem;
    padding-left: 16px;
    font-size: 16px;
    width: 6rem;

    &::placeholder {
      color: #fff;
    }
    &:focus {
      outline: none;
    }
  }

  button {
    background-color: transparent;
    font-size: 16px;
    color: white;
    border: none;
    padding: 0.25rem 0.5rem;
    transition-duration: 250ms;
    display: flex;
    align-items: center;
    height: 1.75rem;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }

    &:hover {
      // background-color: #fff;
      color: teal;
      svg {
        fill: teal;
      }
    }
  }
}

