
@media (max-width: 480px) {
    .login-form {
      text-align: center;
      margin-bottom: 16px;
    }
  }

  @media (max-width: 480px) {
    .login-password {
        display: contents;
        text-align: center;
    }
  }

  @media (max-width: 480px) {
    .login {
        text-align: center;
        margin-top: 20px;
    }
  }

