.formContainer{
display:flex;
justify-content: center;
margin-top: 26px
    
}
.titulo{
    display: flex;
    justify-content: center;
}
.cont-form{
    display:flex;
    text-align: left;
    margin-top: 16px;
}
.add-buttom{
    background-color: #0d7377;
    cursor:pointer;
}
.label {
    width: 130px;
}
.cont-btn{
    display:flex;
    justify-content: center;
    margin-top: 18px;
}