.btn-confirm{
  cursor: pointer;
  text-align: center;
  background-color: teal;
  width: 15%;
  height: 35px;
  margin-left: 40%;
    margin-top: 80px;
}
.wrd-conf{

 color:white;

}

.container-rp{
    
  border: 1em solid teal; 
  margin: auto;
  width: 60%;
  margin-top: 8%;
  height:50%;
  padding: 8%;
  margin-bottom: 10%;
}
.res-pass{
  display: flex;
    justify-content: center;
    margin-top: -10%;
}
.conf-passw{
  display: flex;
  justify-content: center;
  margin-top: 8%;

}
.newPass{
  display: flex;
    justify-content: center;
    margin-top: 8%;
}
.err-cont{
  
}